<?xml version="1.0" ?>
<launch>

    <node name="qingzhou_bringup" pkg="qingzhou_bringup" type="qingzhou_bringup" output="screen"  respawn="true"/>
      <param name="mcuserialport" value="/dev/stm32board" type="string"/> 
      <param name="mcubaudrate" value = "115200" type = "int"/> 
      <param name="servo_mid" value="63" type="int"/>
      <param name="calibrate_lineSpeed" value = "0" type = "int"/> 
      <param name="calibrate_angularSpeed" value = "0" type = "int"/> 
      <param name="ticksPerMeter" value = "1543" type = "int"/>      <!-- 1235  -->
      <param name="ticksPer2PI" value = "3000" type = "int"/>             <!--  26500  5800  -->
      <param name="lineTern" value="-0.5"/>
      <!-- 车道线比例控制函数，最后输出数据为：lineTern*车道线返回值+60,范围是29-87 -->
      <param name="vel1" value="0"/>
      
      <param name="angle2" value="-0.35"/>           <!--测试专用(角度+63)-->
      <param name="direction2" value="0"/>         <!--not used -->
      <param name="line_vel" value="0.6"/>
      <param name="line_kp" value="0.4"/>
      <param name="line_kd" value="0.0"/>
      <param name="line_ki" value="0.0"/>
      <!--TEB CONTROLLER-->
      <param name="controller_ang_kp" value="2.0"/>
      <param name="controller_ang_ki" value="0.0"/>
      <param name="controller_ang_kd" value="0.0"/>
      <param name="controller_c_translation" value="0.5"/>
      <param name="controller_c_rotation" value="0.2"/>
      <param name="controller_ang_factor_vel" value="3.0"/>
      <param name="controller_vel_kp" value="30.0"/><!--28-->
      <param name="controller_vel_ki" value="0.0"/>
      <param name="max_vel" value="1.5"/>
      <param name="teb_min_pts" value="5"/><!--5-->
      <!-- angle=60:中位。angle=87：左最大。angle=29：右最大。 -->
      <!-- vel_t=74:前进最大速度。vel_t=-74：后退最大速度 -->
      <!-- 转弯半径：左0.75；右0.8. -->

      <!-- <param name="v1" value="0"/>   -->
      <!-- <param name="w1" value="0"/> -->
      <!-- 备用  -->
      <!-- <param name="v2" value="0"/>  -->
      <!-- <param name="w2" value="0"/> -->
      <!-- 测试专用  -->

      <param name="max_speed" value="0.4" />
      
    <node pkg="imu_calib" type="apply_calib" name="apply_calib" output="screen" respawn="false">
      <param name="calib_file" value="$(find imu_calib)/../launch/imu_calib.yaml" />
      <param name="calibrate_gyros" value="true" />
      <remap from="corrected" to="imu/data_raw" />
    </node>
    <include file="$(find qingzhou_nav)/launch/ydlidar.launch" />
    <!-- <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch"/> -->
    
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="true" >
      <param name="fixed_frame" value="odom" />
      <!-- <param name="use_mag" value="true" /> -->
      <param name="use_mag" value="false" />
      <param name="publish_tf" value="false" />
      <param name="use_magnetic_field_msg" value="true" />  
      <param name="world_frame" value="enu" />
      <remap from="imu/data" to="imu_data" />
    </node>
    
    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen"  respawn="true">
      <param name="output_frame" value="odom"/>
      <param name="base_footprint_frame" value="base_link"/>
      <param name="freq" value="30.0"/>
      <param name="sensor_timeout" value="1.0"/>
      <!-- <param name="odom_used" value="false"/> -->
      <param name="odom_used" value="true"/>
      <param name="imu_used" value="true"/>
      <!-- <param name="imu_used" value="false"/> -->
      <!-- <param name="vo_used" value="true"/> -->
      <param name="vo_used" value="false"/>
      <param name="gps_used" value="false"/>
      <param name="debug" value="false"/>
      <param name="self_diagnose" value="false"/>
    </node>

    <!--   <node pkg="qingzhou_bringup" type="odom_ekf.py" name="odom_ekf" output="screen">
      <remap from="input" to="robot_pose_ekf/odom_combined"/>
      <remap from="output" to="/odom_ekf"/>
   </node> -->     

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_imulink"
    args="-0.08 0.0 0.05 0.0 0.0  0.0 /base_link /imu_link 50" />
 
</launch>
